HF_TOKEN=hf_...
OPENROUTER_API_KEY=...

TOKENIZER_SPEC_TOKENS__SOFD_TOKEN=<|startoffuncdocstring|>
TOKENIZER_SPEC_TOKENS__SOCD_TOKEN=<|startofclassdocstring|>
TOKENIZER_SPEC_TOKENS__SOMD_TOKEN=<|startofmethoddocstring|>

TOKENIZER_NAME=hf_repo_id
TOKENIZER_EOS_TOKEN=<|endoftext|>

PRETRAIN_TOKENIZED_DS_DIR=path/to/tokenized_data
PRETRAIN_BATCH_SIZE=64
PRETRAIN_GRADIENT_ACCUMULATION_STEPS=32
PRETRAIN_NUM_EPOCHS=1
PRETRAIN_LR=6e-4
PRETRAIN_LR_WARMUP=0.02
PRETRAIN_WEIGHT_DECAY=0.01
PRETRAIN_MAX_SEQ_LEN=2048

DECODER_D_MODEL=64
DECODER_N_HEAD=2
DECODER_N_LAYERS=1
DECODER_D_FFN=256
DECODER_DROPOUT=0.1


FINETUNE_TOKENIZED_DS_DIR=path/to/tokenized_data
